* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* common style */


/* header */
/* header and banner */
header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');

    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 560px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



.content {
    text-align: center;
    color: white;
    width: 50%;
}

.banner-sub-title {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    margin-top: 40px;
    font-size: 72px;
    font-weight: 900;
}

/* header end */

/* main start */
/* main {
    max-width: 1140px;
    margin: 0px auto;
} */

main section {
    margin-top: 130px;
}

/* offer section */
.offer-container {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.offer-sub-title {
    margin: 45px 0 20px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.category-title {
    font-size: 45px;
    font-weight: 700;
}

.offer-img {
    margin-top: 48px;
}

/* midnight party section */

.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: 130px auto 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.party-text, .party-img {
    width: 50%;
    padding: 0 50px;
}

.party-title {
    color: #FFF;
    font-size: 64px;
    line-height: 88px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0;
}

.party-text button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.party-text button:hover {
    background-color: #FAA10D;
}

/* schedule section */
.schedule-container {
    width: 50%;
    background: rgba(255, 0, 0, 0.05);
    margin: 130px auto;
    text-align: center;
    padding: 100px 250px;
    border-radius: 5px;
}

.schedule-container h4 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.schedule-container span {
    color: red;
}

/* best offer container */
.best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 100px;
}

/* left column and right column*/
.left-column h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.left-column h3, .right-column h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.left-column p, .right-column p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}


/* middle column */
.middle-column {
    border: 8px solid red;
    border-radius: 50%;
    padding: 15px;
}

/* holiday sales */
.holiday-sale-container {
    border: 2px solid red;
    width: 80%;
    margin: 130px auto;
    text-align: center;
    height: 800px;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.sale-sub-title {
    font-size: 24px;
    font-weight: 500;
}

.sale-title {
    font-size: 72px;
    font-weight: 900;
    margin-top: 16;
}

.sale-title span {
    color: red;
}

.sale-description {
    color: #07021199;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.holiday-img-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.holiday-img-container img{
    width: 40%;
}
.discount-img{
    position: relative;
    bottom: 400px;
    left: 100px;
}


/* Portfolio section */

.portfolio-container {
    width: 80%;
    margin: 130px auto;
    text-align: left;
}

.portfolio-sub-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.portfolio-title {
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 16px 0 22px;
}

.portfolio-description {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;

}
/* gallery */
.img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.img-container img {
    width: 300px;

}

.img-container img:hover {
    box-shadow: 10px 10px 15px gray;
}

/* news letter */
.newsletter-container {
    width: 50%;
    margin: 130px auto;
    text-align: center;
    padding: 80px 200px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-title {
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0 20px;
}

input[type='email'] {
    width: 300px;
    padding: 15px;
    border-radius: 30px 0 0px 30px;
    border: none;
    margin-right: 0px;
}

input[type='submit'] {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 15px;
    border: none;
    color: white;
}







/* footer */
footer {
    margin-top: 130px;
    background-color: black;
    color: white;
    padding: 120px 150px 30px;
    /* height: 500px; */
}



.footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

hr {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.15);
}

/* social icon */
.social-icon {
    margin-top: 45px;
    text-align: center;

}

.social-icon img {
    margin-right: 20px;
    width: 55px;
}

/* copyright */
.copyright-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}