* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* common style */


/* header */
/* header and banner */
header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');

    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 560px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



.content {
    text-align: center;
    color: white;
    width: 50%;
}

.banner-sub-title {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    margin-top: 40px;
    font-size: 72px;
    font-weight: 900;
}

/* header end */

/* main start */
/* main {
    max-width: 1140px;
    margin: 0px auto;
} */

main section {
    margin-top: 130px;
}

/* offer section */
.offer-container {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.offer-sub-title {
    margin: 45px 0 20px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.category-title {
    font-size: 45px;
    font-weight: 700;
}

.offer-img {
    margin-top: 48px;
}

/* midnight party section */

.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: 130px auto 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.party-text, .party-img{
    width: 50%;
    padding: 0 50px;
}

.party-title {
    color: #FFF;
    font-size: 64px;
    line-height: 88px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0;
}
.party-text  button{
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
}
.party-text button:hover{
    background-color:#FAA10D;
}

/* schedule section */
.schedule-container{
   width: 50%;
   background-color: beige;
   margin: 130px auto;
   text-align: center;
   padding: 100px 250px;
   border-radius: 5px;
}
.schedule-container h4{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.schedule-container span{
    color: red;
}